# dependencies
node_modules/

# environment variables
.env

# logs
logs/
*.log
npm-debug.log*

# uploads (IMPORTANT for your dataset issue)
uploads/
backend/uploads/

# model files (ML models generated)
*.pkl
*.joblib

# temp files
tmp/
temp/

# editor files
.vscode/
.idea/
.DS_Store

# build (if any)
dist/