# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
venv/
env/
.venv/
aienv

# environment variables
.env

# logs
*.log

# model artifacts
models/
*.pkl
*.joblib

# dataset files (optional - if large)
data/
datasets/

# faiss indexes
*.faiss
*.index

# shap outputs
*.html

# checkpoints
checkpoints/

# jupyter
.ipynb_checkpoints/

# editor files
.vscode/
.idea/
.DS_Store

uploads/